@import '../../style/variables', '../../style/mixins';

.dataViewer {
    @include content-wrapper;
    padding: 4.25rem 10rem;
    gap: 5rem;
}

.banner {
    line-height: 1.5;
    height: 10%;

    h1 {
        font-size: 3rem;
        font-weight: bold;
    }

    h2 {
        font-size: 1.125rem;
    }

    span {
        color: $red;
    }
}

.dataCharts {
    height: 75%;
    display: grid;
    grid-template-areas:
        'activity activity activity mainData'
        'sessions performance mainScore mainData';
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(2, 50%);
    gap: 2.75rem;
}

.data{
    grid-area: mainData;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}