@import '../../style/variables', '../../style/mixins';

.dataViewer {
    @include content-wrapper;
    padding: 6vh 6.25vw;
    justify-content: space-between;
}

.banner {
    line-height: 7.5vh;

    h1 {
        font-size: 3rem;
        font-weight: bold;
    }

    h2 {
        font-size: 1.125rem;
    }

    span {
        color: $red;
    }
}

.dataCharts {
    display: grid;
    grid-template-areas:
        'activity activity activity mainData'
        'sessions performance mainScore mainData';
    grid-template-columns: repeat(3, 25vmin) auto;
    grid-template-rows: 30vh 25vh;
    gap: 2.5vw;
}

.data{
    grid-area: mainData;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.keydata {
    background: $lightgrey;
    display: flex;
    align-items: center;
    border-radius: $border-radius;
    height: 12vh;
    line-height: 1.5;
    width: 100%;
}

@media screen and (min-width : 1500px) {
    :root{
        font-size: 18px;
    }

    .dataCharts {
        display: grid;
        grid-template-areas:
            'activity activity activity mainData mainScore'
            'activity activity activity sessions performance';
        grid-template-columns: auto auto 30vh 30vh;
        grid-template-rows: repeat(2, 30vh);
        // gap: 2.5vw;
    }
}