@import '../../../style/variables', '../../../style/mixins';

.performance{
    @include article;
    grid-area: performance;
    background: #282D30;
    color: white;
    justify-self: center;
    overflow: visible;

    display: flex;
    justify-content: center;
    align-items: center;
}