@import '../../../style/variables';

.data {
    background: $lightgrey;
    display: flex;
    align-items: center;
    // justify-content: space-evenly;
    border-radius: $border-radius;
    height: 8rem;
    line-height: 1.5;

    >div{
        margin-left: 2rem;
    }
}

.imgWrapper {
    height: 4rem;
    width: 4rem;
    display: grid;
    place-content: center;
    border-radius: $border-radius;
}

.value {
    display: block;
    font-size: 1.25rem;
    font-weight: bold;
}

.name {
    color: $grey;
    font-size: 0.875rem;
}
