@import '../../../style/variables';

.imgWrapper, .dataWrapper{
    margin-left: min(5%, 2.5vw);
}

.imgWrapper {
    height: 6vmin;
    width: 6vmin;
    display: grid;
    place-content: center;
    border-radius: $border-radius;
}

.dataWrapper{
    min-width: 50%;
}

.value {
    display: block;
    font-size: 1.25rem;
    font-weight: bold;
}

.name {
    color: $grey;
    font-size: 0.875rem;
    text-transform: capitalize;
}
