@import '../../../style/variables';

.activity {
    position: relative;
    grid-area: activity;
    background: $lightgrey;
    padding: 2rem;
}

.title {
    font-size: 1rem;
    position: absolute;
    font-weight: 600;
    top: 1.5rem;
    left: 2rem;
}

.textLegend {
    color: $black;
    margin-right: 2vw;
    font-size: 0.875rem;
}

.toolTip{
    color: $white;
    background: $red;
    font-size: .75rem;
    line-height: 3rem;
    padding: 0 1rem;
}